
<div class="btn-group btn-group-vertical btn-group-lg myNav">
	<a ui-sref=".allScore" class="btn btn-primary ">显示全部成绩&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
	<a ui-sref=".addScore" class="btn btn-danger">添加学生成绩&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
	<a ui-sref=".searchScore" class="btn btn-success">查询学生成绩&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
	<a ui-sref=".modifyScore" class="btn btn-info">修改学生成绩&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
	<a ui-sref=".deleteScore"  class="btn btn-warning">删除学生成绩&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
	<a ui-sref=".countScore"  class="btn btn-primary">统计学生成绩&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right"></span></a>
 </div>